.navbar {
	border: none;
}

a
{
	color: white !important;
	font-weight: bold;
}

body
{
	background-color: #EAFBFF;
}

form
{
	text-align: center;
}

.titre
{
	font-weight: bold;
	text-decoration: underline;
	text-align: left;
}

.popFont
{
	position: absolute;
	height: 100%;
	width : 100%;
	z-index: 2000;
	top: 0px;
	display: none;
	background-color: rgba(48,48,48,0.75); 
}


#detail
{
	width: 30%;
	position: fixed;
	top: 20%;
	right: 0%;
	text-align: right;
	border: solid 1px;
	background-color: #3A3F40;
	color: white;
	padding-right: 10px;
}

/*#commune
{
	padding-right: 2px;
	padding-left: 2px;
	border-right: 0px;
	border-left: 0px;

}*/


.form-group
{
	color: white;
}

.haut
{
	background-color: #3A3F40;
	padding-top: 5px;
}

.placement
{
	position: absolute;
	/* padding-top: 2%; */
}

#placementDroit
{
	float: right;
}

#commune
{
	margin-right: 10px !important;
	margin-left: 10px !important;
	margin-top: 0%;
	width: 100%;
	color: #3A3F40;

}

#submit-photos-pagination
{
	color: #3A3F40;
}

.row
{
	margin-right: 0px !important;
	margin-left: 0px !important;
}

#detailTitre, #detailAuteur, #detailDate
{
	margin-right: 2%;
}

#precedent, #suivant
{
	padding-top: 1%;
	padding-bottom: 1%;
	margin-top: 80px;
	width: 15%;
}
